<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.modules.goods.mapper.GoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.modules.goods.entity.Goods">
        <id column="goods_id" property="goodsId" />
        <result column="goods_name" property="goodsName" />
        <result column="price" property="price" />
        <result column="goods_type" property="goodsType" />
        <result column="place" property="place" />
    </resultMap>

</mapper>
